* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  html {
    font-size: 62.5% /* 1rem=16px */
  }
  @media screen and (max-width:900px){
    html{
      font-size:55%;
    } 
  }
  @media screen and (max-width:600px){
      html{
        font-size:45%;
      } 
    }
  @media screen and (max-width:400px){
        html{
          font-size:40%;
        } 
      }
  
  
  header {
    background:#022E51;
    color: #F9F7F0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 2rem;
  }
  
  #results,
  #calculator,
  #about {
    margin: 2rem auto;
    width: 80vw;
    height:50vh;
    border: 0.1rem solid #023d6d;
    border-radius: 1rem;
    padding:2rem;
    color: #023d6d;
  }
  
  #results {
    text-align: center;
    height: 15vh;
  }
  #about {
    text-align:center;
    height:15vh;
  }
  
  #calculator input {
    font-size: 5rem;
    border: 2px solid #023d6d;
    width: 25rem;
    height: 10rem;
    padding: 0.5rem;
    margin:auto;
    display: block;
    color: #023d6d;
    text-align: center;
  }
  
  #calculator input:focus {
    outline: none;
  }
  
  #calculator button {
    font-size: 1rem;
    background: #023d6d;
    color: white;
    border: 1px solid #023d6d;
    padding: 1rem;
    cursor: pointer;
  }
  
  #calculator button:focus {
    outline: none;
  }
  
  #calculator button:hover,
  #calculator button:active {
    background: #084f88;
    border-color: #084f88;
  }
  
  #calc-actions button {
    width: 10rem;
    height:5rem;
    font-size: 2rem;
  }
  
  #calc-actions {
    margin-top: 2rem;
    height:15vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2{
    font-size: 2rem;

  }
  h1{
    font-size:4rem;
  }
  